[Unit]
Description=FaceShield Edge Client - Camera & Frame Dispatcher
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Ajuste o usuário e diretório para o usuário do seu Raspberry Pi
User=basileia
WorkingDirectory=/home/basileia/pi_client
ExecStart=/home/basileia/pi_client/venv/bin/python main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# Otimização de I/O e prioridade
Nice=5

[Install]
WantedBy=multi-user.target
